@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1620486478528') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rmb:before {
  content: "\e6eb";
}

.icon-RMBfinish:before {
  content: "\e627";
}

.icon-message:before {
  content: "\e507";
}

